@model RoadBetterTogether.TogetherCarsSet

        <fieldset>
            <legend>Enrégistree un véhicule :</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.immatriculation)
             </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.immatriculation)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.marque)
            </div>
            <div class="editor-field">
                @Html.DropDownList("marque", (SelectList)ViewBag.listmark)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.annee)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.annee)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.places)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.places)
            </div>
              </fieldset>

