
@model RoadBetterTogether.AdressesSet

<fieldset>
    <legend>Enrégistrer votre domicile:</legend>
    <div class="editor-label">
        @Html.LabelFor(model => model.numero)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.numero, new Dictionary<string, object>{
                     {"id", "homenumero"}})
        @Html.ValidationMessageFor(model => model.numero)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.rue)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.rue, new Dictionary<string, object>{
                     {"id", "homerue"}})
        @Html.ValidationMessageFor(model => model.rue)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Batiment)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Batiment, new Dictionary<string, object>{
                     {"id", "homebatiment"}})
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.code_postal)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.code_postal, new Dictionary<string, object>{
                     {"id", "homecodepostal"}})
        @Html.ValidationMessageFor(model => model.code_postal)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.ville)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.ville, new Dictionary<string, object>{
                     {"id", "homevile"}
   })
@Html.ValidationMessageFor(model => model.ville)
    </div>
</fieldset>

